.mgui-typography-title {
  @apply text-gray-900 font-medium;
}

h1.mgui-typography-title {
  @apply text-5xl;
}

h2.mgui-typography-title {
  @apply text-4xl;
}

h3.mgui-typography-title {
  @apply text-2xl;
}

h4.mgui-typography-title {
  @apply text-lg;
}

h5.mgui-typography-title {
  @apply text-base;
}

.mgui-typography-title-underlined::after {
  @apply border-b border-gray-300;
  content: "";
  width: 100%;
  display: block;
}
