.mgui-deck-container {
  /* width: 100%; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  background: #1f2937;
}

.mgui-deck-item {
  background: #222;
  width: 200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  text-shadow: 0 10px 10px #d1d5db;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  /* transform: ${() => {
      let rotation = Math.random() * (5 - -5) + -5
      return `rotate(${rotation}deg)`
    }}; */
}
